<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>API Operations</span>
            <span class="example-spacer"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</header>
<mat-card class="mat-elevation-z0">
    <mat-card>
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>Actions</mat-card-title>
                <mat-card-subtitle>Choose an Action from the drop down list below</mat-card-subtitle>
            </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
            <mat-accordion class="example-headers-align">
                <mat-expansion-panel (closed)="resetAllFields()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Personal data
                        </mat-panel-title>
                        <mat-panel-description>
                            Type your name and age
                            <mat-icon>assignment</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput placeholder="First name" required [(ngModel)]="firstName" name="firstName">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Age" required [(ngModel)]="age" name="age">
                    </mat-form-field>
                    <button style="float: inline-end" mat-raised-button color="primary" [disabled]="!allValuesPresent()"
                        (click)="printValues()">Submit</button>
                    <mat-divider *ngIf="resultMessage" [inset]="true"></mat-divider>
                    <div class="valign-center" style="padding-top: 14px;">
                        <mat-icon *ngIf="success" color="primary" style="padding-right: 14px;">done</mat-icon>
                        <mat-icon *ngIf="failure" color="accent" style="padding-right: 14px;">error</mat-icon>
                        <span *ngIf="resultMessage">{{resultMessage}}</span>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Self aware panel
                        </mat-panel-title>
                        <mat-panel-description>
                            Currently I am {{panelOpenState ? 'open' : 'closed'}}
                            <mat-icon>date_range</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="resetAllFields()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Find a Character
                        </mat-panel-title>
                        <mat-panel-description>
                            Type your character's name
                            <mat-icon>assignment</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                        <input matInput placeholder="Name" required [(ngModel)]="characterName" name="characterName">
                    </mat-form-field>
                    <button style="float: inline-end" mat-raised-button color="primary" [disabled]="!characterNamePresent()"
                        (click)="getCharacterInformation()">Submit</button>
                    <mat-divider *ngIf="resultMessage" [inset]="true"></mat-divider>
                    <div class="valign-center" style="padding-top: 14px;">
                        <mat-icon *ngIf="success" color="primary" style="padding-right: 14px;">done</mat-icon>
                        <mat-icon *ngIf="failure" color="accent" style="padding-right: 14px;">error</mat-icon>
                        <span *ngIf="resultMessage">{{resultMessage}}</span>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="getZones()" (closed)="clearZones()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Zones
                        </mat-panel-title>
                        <mat-panel-description>
                            View the list of Raids in Classic WoW
                            <mat-icon>date_range</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngFor="let raid of raids">
                            {{raid.name}}
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>
</mat-card>