@import '~@angular/material/theming';
$md-fratwhaleblue: (
    50: #e6eaf1,
    100: #bec9dd,
    200: #95a7c5,
    300: #6c85ae,
    400: #4a6b9f,
    500: #245391,
    600: #1c4b88,
    700: #11427d,
    800: #083870,
    900: #002859,
    A100: #bec9dd,
    A200: #95a7c5,
    A400: #4a6b9f,
    A700: #11427d,
    contrast: (
        50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: white,
        A400: white,
        A700: white,
    )

);

$md-fratwhalepink: (
    50: #fce8ed,
    100: #f9c6d3,
    200: #f6a3b6,
    300: #f5809a,
    400: #f56884,
    500: #f5576f,
    600: #e3516c,
    700: #cd4b66,
    800: #b84562,
    900: #933959,
    A100: #f9c6d3,
    A200: #f6a3b6,
    A400: #f56884,
    A700: #cd4b66,
    contrast: (
        50: $black-87-opacity,
        100: white,
        200: white,
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: white,
        A200: white,
        A400: white,
        A700: white,
    )
);

@include mat-core();
$custom-theme-primary: mat-palette($md-fratwhalepink);
$custom-theme-accent: mat-palette($md-fratwhaleblue, 300, A100, A400);
$custom-theme-warn: mat-palette($md-fratwhalepink, A700);
$custom-theme: mat-dark-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);

.app-background {
    background-color: $black-87-opacity;
}